@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap'); */
:root {

    /* text colors */
    --title-black:#333 ;
    --text-white: #ffffff;
    /* --text-dark: #465169; */
    --text-dark: #666;
    --title-company-school: #6c757d;
    --img-border: #fff;
  
    /* background colors */
    --bg-grey-light: #f8f9f9;
    /* --bg-grey-light: #f8f9f96e; */
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --color-primary: ##B1614E;
    --color-primary-opacity: ##B1614E;

    /* --ligh-theme-body-bg: radial-gradient(circle, #5c0067 0%, #18265b 100%); */
    /* --ligh-theme-body-bg: linear-gradient(to top left, #5c0067, #18265b);
    --ligh-theme-body-bg: linear-gradient(to top left, #01193d, #0d6efd); */
    --ligh-theme-body-bg: linear-gradient(to top right, #01193d, #01275f);
    --border-color-gray:rgb(214, 214, 214);

    
    

    /* --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03); */
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
    scroll-behavior: smooth
  }


body {
  
    line-height: 1.7;
    font-family: "Poppins", "Arial", sans-serif;
    /* background: linear-gradient(135deg, #A66CFF, #F6F6F6); */
    /* background: linear-gradient(135deg, #89CFF0, #6CB4EE); */
    background: var(--ligh-theme-body-bg);
    /* background: linear-gradient(to right top, #A66CFF, #F6F6F6); */

    
    
}


.font_weight__600{
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

.resume__container{
    background-color: var(--bg-grey-light);
    color: var(--text-dark);
}

.cv__border{
  border: 1px solid var(--border-color-gray);
}

.custom__card{
  border: 1px solid var(--border-color-gray);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}


.dark{
    --text-white: #465169;
    --text-dark: #ffffff;
    --title-black:#b9edf9;
    --title-company-school:#43a5ff;
  
    /* background colors */
    --bg-grey-light: #111b40;
    --bg-white: #ffffff;
    --bg-blue-dark: #f8f9f9;

    --img-border:#495f8180; 
    
  
}

.title__color{
    
    color: var(--title-black);
  }
.title__company__school{
  
  color:var(--title-company-school);
  opacity: 0.9;

}


.navbar-brand{
    color: var(--text-dark);
}
.nav-link{
    color: var(--text-dark);
}

.nav-link:hover {
    color: var(--color-primary) !important;
    border-bottom: 2px solid var(--color-primary);
  }
.profile__img{
    width: 45%; 
    border-radius: 100%; 
    border: 1rem solid var(--img-border);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.reference__img{
  width: 50px;
  height: 50px;
  opacity: 0.7;

  border-radius: 100%; 
  border: 0.2rem solid var(--img-border);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}
.custom__btn{
  border-radius: 24px!important;
}


/* Change boostrap default carousel arrow color START */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}
/* Change boostrap default carousel arrow color END */

#floater {
  position: absolute;
  top: 90vh;
  right: 1px;
  width: 100px;
  height: 100px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  z-index: 1;
}

#float__btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
  /* color: #cadafd; */
  color: #0d6efd;
  border-radius: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 1px solid  #cadafd;
}




@media (min-width: 992px) {

    .resume__container{
        border-radius: 1.2rem;
    }
    .personal__info{
        width: 80%;
    }


  }

@media (max-width: 576px) {

    .profile__description{
        text-align:center;
        margin-top: 2rem;
    }

  }



